*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: defaultfont ;
}
@font-face {
    font-family: defaultfont;
    src: url(Font.ttf);
}
header{
    width:100%;
    position: fixed;
    background-color:#191919;
}
nav{
    background-color: white;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin:auto;
    padding:35px 0;
    background-color:#191919;
    
}
.portfolio a{
    color:#F40548;
    text-decoration: none;
    padding-left:55px;
    font-size: 28px;
    font-weight: bold;
}
.menu{
    display: flex;
    margin:0 35px;
    font-size: 15px;
   
    font-weight: bold;
    align-items: center;
    color:#F40548;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:0 19px;
    color:#F40548;
    
    
}
nav ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
nav ul li a:hover{
    color:#F40548;
}
.menu button{
    text-transform: uppercase;
    margin-left:15px;
    background-color:#F40548;;
    color:white;
    font-size: 15px;
   
    border:1px solid  #F40548;;
    border-radius: 20px;
    width:140px;
    height:30px;
}
.menu button:hover{
    color:black;
}
.intro{
    width:100%;
    height:80vh;
    display: flex;
    justify-content:space-around;    background-color:#191919;
   padding-top: 288px;

}
.intro h1{
    font-weight: bold;
    font-size: 41px;
line-height: 1.5;
    color:white;
}
.intro p{
    font-size: 19px;
    line-height: 1.1;
    color:#F40548;
}
.shagai p{
    color:#F40548;
    font-size: 199px;
}
.intro1{
    width: 100%;
    background-color:#242828  ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid 
    #020202

    ;
    height:95vh;
    color:white;
    padding-bottom: 130px;
    color:white;
}
.intro1 h3{
    font-size: 35px;
    font-weight: bold;
  
    text-transform: uppercase;
    color:white;
}
.intro1 p{
    font-size: 19px;
    color:#F40548;
    line-height: 2.1;
}
.intro h4 {
    text-transform: uppercase;
    font-size: 50px;
    color:white;      
    line-height: 2.1;
  }
 
.intro2{
    width:100%;
 height:100vh;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color:#242828;
    color:white;
    border-bottom: 2px solid 

#020202
;
}
.text p{
    font-size: 15px;
    color:#F40548;
}
.grid1{
    display: grid;
    gap: 80px;
    grid-template-columns: auto auto auto;
    width:100%;
    padding-left: 195px;
    padding-top: 120px;
}
.item1 {
    background-color:#242828;
    border: 3px solid #1c2324;
    box-shadow: 10px 10px 5px #1c2324 ;
 
    padding: 10px;
    color:white;
  height:300px;
  width:320px;

  }
  .item1 h4{
    text-transform: uppercase;
    font-size: 20px;
    color:white;      
    line-height: 2;
    font-weight: bold;
      
  }
  .item1 p{
      line-height: 2.4;
      color:white;
  }
.item1 img{
    height:68px;
}
.text{
    text-align: center;
    margin-top: 85px;
    color:white;
}
.text h2{
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color:white;
    line-height: 2.9;
    
}
.text p{
    font-size: 25px;
}
.grid {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto ;
    width:65%;
    padding:5px;
    margin-top:85px;
  }
  
  .item {
    background-color:
    #0f0f0f;
    border: 1px solid#1c2324;
    box-shadow: 10px 10px 5px #1c2324;
    border-radius: 20px;
    padding: 10px;
    color:#F40548;
    height:170px;
    width:360px;
    text-align: center;

  }
  .item img{
      height:140px;
  }
footer{
    width:100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#242828  ;
  
    color:#F40548;
}
.copyright{
    font-size: 25px;
}
.aboutme{
    width: 100%;
    background-color:#242828  ;
    display: flex;
    height: 80vh;
    border-bottom: 2px solid 
    #020202;
  
    justify-content: center;
    align-items: center;

}
.zurg{
   
    height:600px;
    width:50%;
    color:#F40548;
    font-size: 132px;
    text-align: center;
   display: flex;
    align-items: center;
    justify-content: center;
}
.text3 {

    width:50%
}
.text3 p{
    color:#F40548;
    font-size: 25px;
    line-height: 2.1;

}
.text3 h3{
    color: white ; 
    font-size:30px;
    line-height: 2.9;
}
.text3 button{
    text-transform: uppercase;
    margin-left:15px;
    background-color:#F40548;;
    color:white;
    font-size: 15px;
   line-height: 2.2;
    border:1px solid  #F40548;;
    border-radius: 20px;
    width:140px;
    height:30px;
}